* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #666d89;
}

.wrapper {
  width: 1020px;
  margin: 0 auto;
}



.form {
  height: 654px;
  padding: 62px 40px 0;

  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}

.title {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1em;
  letter-spacing: -0.2px;
  word-spacing: 0.5px;
}

.q-title {
  color: #f0d8d9;
  word-spacing: 0;
}

.description {
  margin-top: 20.5px;

  font-size: 1.8rem;
  font-weight: 300;
  line-height: 30px;
  color: #767e9e;
  text-align: justify;
}

.q-description {
  color: #f0d8d9;
}

.layout-2 {
  display: flex;
  justify-content: space-between;
}

.form-q {
  margin-top: 44px;
}

.field_form {
  display: block;
  box-sizing: border-box;

  width: 619px;
  margin-bottom: 16px;
  padding: 11.5px 14.5px;
  border-radius: 5px;
  background-color: #d6564f;
  border: none;
  outline:none;

  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  color: #f0d8d9;
  text-align: left;
}

.field_form::placeholder {
  color: #f48c8f;
}

.f-textarea {
  resize: none;
  height: 202px;
}

.f-submit {
  margin-left: auto;
  width: 80px;
  text-align: center;
  font-size: 1.6rem;
}

.f-submit:hover {
  cursor: pointer;
  color:black;
  border-color: #f48c8f white; /* Цвет границы */ 
  border-style: solid;
}

.contact {
  margin-top: 42px;
  width: 300px;
}

.contact_title {
  font-size: 1.8rem;
  font-weight: 900;
  color: #f0d8d9;;
  letter-spacing: -0.18px;
  word-spacing: 0.85px;
  white-space: nowrap;
  overflow: hidden;
}

.contact_descrip {
  margin-top: 8px;

  font-size: 1.2rem;
  line-height: 21px;
  text-align: justify;
  color: #f0d8d9;
  letter-spacing: -0.06px;
  overflow: hidden;
}

.contact_link {
  display: inline;
  font-size: 1.2rem;
  color: #f0d8d9;
  letter-spacing: -0.06px;
  margin-left: 8.5px;
}

.contact_link:hover {
  color: black;
}

.address_contact {
  margin-top: 24px;
  margin-left: 3px;
}

.address-contact .contact_link {
  position: relative;
  bottom: 1px;
  margin-left: 10.5px;
}

.phone-contact {
  margin-top: 2px;
  margin-left: 1px;
}

.phone-contact .contact_link {
  position: relative;
  bottom: 1px;
  margin-left: 8.5px;
}

.mail-contact {
  margin-top: 3px;
  margin-left: 0px;
}

.mail-contact .contact_link {
  position: relative;
  bottom: 1px;
  margin-left: 7.5px;
}



.footer {
  display: flex;
  justify-content: space-between;

  height: 76px;
  padding:  0 40px;

  background-color: #2d303a;
}

.copyright_footer {
  margin-left: 2px;
  margin-top: 30px;
  font-size: 1.2rem;
  letter-spacing: -0.15px
}


.footer_contacts {
  display: flex;
  justify-content: space-between;
  width: 155px;
  margin-right: -2px;
  margin-top: 21px;
}

.footer_contacts img:hover {
  border-color:black; 
  border-bottom-style: dotted;
  cursor: pointer;
  
}
